.logo {
  color: red;
  font-size: 2rem;
  font-weight: bold;
}
.search-btn {
  background-color: transparent;
  color: white;
  font-size: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}
.list-item {
  width: max-content;
}
nav.navbar {
  display: grid;
  grid-template-columns: minmax(150px, 3fr) minmax(200px, 1fr);
  gap: 1rem;
}
.link-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.link {
  text-decoration: none;
  color: inherit;
}
.search-container {
  font-size: 1rem;
  border: 1px solid white;
  display: flex;
  gap: 12px;
  padding: 6px;
}

.logo {
  color: red;
  font-size: 2rem;
  font-weight: bold;
}
.search-input {
  width: 100%;
  background-color: black;
  color: white;
  outline: 0;
  font-size: inherit;
}
.search-btn {
  background-color: transparent;
  color: white;
  font-size: inherit;
}

@media screen and (max-width: 800px) {
  .list-item {
    display: none;
  }
}
