* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
body {
  color: #eee;
  background-color: black;
  font-family: "Roboto", sans-serif;
  padding: 1% 5%;
  max-width: 100dvw;
}
a {
  text-decoration: none;
  color: inherit;
}
